# Compiled class file
*.class

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Gradle files
.gradle/

# Eclipse files
.classpath
.project
org.eclipse.buildship.core.prefs

# Build directories
bin/
build/